$bg_header:rgba(16, 16, 29, 0.9);
$black: #000000;
$black_2A: #2A2B30;
$black_27:#272733;
$black_3D:#3D4050;
$gray_BB: #BBBBBB;
$gray_C3:#C3C3C3;
$gray_6F:#6F6D7B;
$white:#FFFFFF;
$blue_3E:#3E9CDC;
$blue_42:#42A9ED;
$blue_43: #43ABF0;
$blue_28: #286690;
